<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="<?= U('home') ?>/view/css/style.css" />
<script src="<?= ROOT ?>/public/js/jquery-2.2.1.min.js"></script>
<script src="<?= ROOT ?>/public/js/ajax.js"></script>
</head>
<body>
<div class="top">
	<div class="top-nav">
	<ul class="right">
		<?php if(!empty($_SESSION['user'])): ?>
		<li><?=$_SESSION['name']?>，欢迎来到商城！[<a href="<?= U('home/User/logout') ?>">退出</a>]<li>
		<?php else: ?>
		<li>您好，欢迎来到商城！[<a href="<?= U('home/User/login') ?>">登录</a>][<a href="<?= U('home/User/register') ?>">免费注册</a>]</li>
		<?php endif; ?>
		<li class="line">|</li><li><a href="/?c=order">我的订单</a></li>
		<li class="line">|</li><li><a href="/?c=user">会员中心</a></li>
		<li class="line">|</li><li><a href="/?c=cart">我的购物车</a></li>
	</ul>
	</div>
</div>
<div class="box">
	<div class="header">
		<a class="left" href="<?= ROOT ?>"><div class="logo"></div></a>
		<div class="search left">
			<input type="text" class="left" />
			<input class="search-btn" type="button" value="搜索" />
		</div>
		<div class="info left">
			<input type="button" value="会员中心" onclick="location.href='?c=user'" />
			<input type="button" value="去购物车结算" onclick="location.href='?c=cart'" />
		</div>
	</div>
	<div class="nav">
		<ul>
			<li><a class="category" href="<?= U('home/Index/find') ?>">全部商品分类</a></li>
			<li><a href="<?= ROOT ?>">首页</a></li>
		</ul>
	</div>
	<?php require VIEW; ?>
	<div class="footer">商城·本项目仅供学习使用</div>
</div>
</body>
</html>