<div class="content">
	<div class="item">
		<div class="title">属性添加</div>
		<div class="top-button">相关操作：
			<a href="<?= U('admin/Attribute') ?>" class="light">属性列表</a>
		</div>
		<div class="list auto">
			<form method="post" id="form">
				<input type="hidden" value="<?= $cid ?>" name="cid" />
				<table>
					<tr><th>属性名</th><th>属性默认值</th></tr>
					<tr>
						<td><input type="text" name="name" /></td>
						<td><input type="text" name="def_val" /></td>
					</tr>
				</table>
				<div class="btn">
					<td colspan="2">
						<input type="submit" value="确定" />
						<input type="reset" value="重置" />
					</td>
				</div>
			</form>
		</div>
	</div>
</div>