<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>商城 - 后台管理系统</title>
<link rel="stylesheet" href="<?= U('admin') ?>/view/css/style.css" />
<script src="<?= ROOT ?>/public/js/jquery-2.2.1.min.js"></script>
<script src="<?= ROOT ?>/public/js/ajaxForm.js"></script>
</head>
<body>
<div class="top">
	<h1>商城 <span>后台管理系统</span></h1>
</div>
<div class="login">
	<h1>欢迎访问后台</h1>
	<form method="post" id="loginForm">
		<table>
			<tr>
				<th width="80">用户名：</th>
				<td><input class="input" type="text" name="username" required /></td>
			</tr>
			<tr>
				<th>密　码：</th>
				<td><input class="input" type="password" name="password" required /></td>
			</tr>
			<tr>
				<th>验证码：</th>
				<td><input class="input" type="text" name="captcha" required /></td>
			</tr>
			<tr>
				<td> </td>
				<td>
					<img src="<?= $captchaUrl ?>" onclick="this.src='<?= $captchaUrl ?>?t='+new Date;" id="captcha" title="点击刷新验证码"/>
				</td>
			</tr>
			<tr>
				<td> </td>
				<td><input class="login_btn" type="submit" value="登录" /></td>
			</tr>
		</table>
	</form>
</div>
</body>
<script>
	$("form").ajaxForm();
</script>
</html>