<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><?= $title ?></title>
<link rel="stylesheet" href="<?= ROOT ?>admin/view/css/style.css" />
<script src="<?= ROOT ?>public/js/jquery-2.2.1.min.js"></script>
<script src="<?= ROOT ?>public/js/ajaxForm.js"></script>
</head>
<body>
<div class="top">
	<h1>商城 <span>后台管理系统</span></h1>
	<ul>
		<li>欢迎您：<?= $_SESSION['admin'] ?></li>
		<li><a href="/" target="_blank">前台首页</a></li>
		<li><a href="<?= U('admin/login/logout') ?>">退出登录</a></li>
	</ul>
</div>
<div class="main">
	<div class="menu">
		<div class="box">
			<div class="head"><i></i><div>管理菜单</div></div>
			<ul>
				<li><a href="<?= U('admin') ?>" id=index>后台首页</a></li>
				<li><a href="<?= U('admin/goods') ?>" id="goods">商品列表</a></li>
				<li>
					<a href="<?= U('admin/Attribute') ?>" id="Attribute">商品属性</a>
				</li>
				<li>
					<a href="<?= U('admin/category') ?>" id="category">商品分类</a>
				</li>
				<li><a href="/?p=admin&c=recycle&a=index" id="recycle">回收站</a></li>
				<li><a href="/?p=admin&c=user&a=index" id="user">会员管理</a></li>
			</ul>
		</div>
	</div>
	<?php require VIEW; ?>
</div>
<script>
//点亮当前菜单
$("#<?= CONTROLLER ?>").addClass("curr");
</script>
</body>
</html>